{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Page</title>
    <!-- Add your CSS links here -->
</head>
<body>

    {% if role == "Teacher" %}
    <a href="{{ url_for('main.create_course') }}">Create Course</a>
    <a href="{{ url_for('main.dashboard') }}">View Courses</a>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <!-- Add your JavaScript links here -->
</body>
</html>
{% endblock %}
